@CHARSET "UTF-8";
 .* {
    padding: 0;
    margin: 0;
}
 
a {
    text-decoration: none;
    color: black;
}
 
a:hover {
    color: red;
}
 
.wrap {
    width: 900px;
    height: 300px;
    overflow-y: auto;
    margin: auto;
}
 
table {
    width: 800px;
    border: 1px solid black;
    border-collapse: collapse;
}
 

td,th {
    border: 1px solid black;
    text-align: left;
}
 
table input[type=text] {
    width: 80px;
}
        #fm
        {
            margin: 0;
            padding: 5px 30px;
        }
        .ftitle
        {
            font-size: 14px;
            font-weight: bold;
            padding: 5px 0;
            margin-bottom: 5px;
            border-bottom: 1px solid #ccc;
        }
        .fitem
        {
            margin-bottom: 5px;
        }
        .fitem label
        {
            display: inline-block;
            width: 80px;
        }